@charset "UTF-8";

.star-product{
height: 460px ;
margin-bottom: 20px;
}
.slide-show img{
    max-width: 100%;
    width: 100%;
    height: 460px ;
}
.star-product .slide-show .icon{
    float: left;
    position:absolute;
    width: 40px ;
    height: 60px;
    line-height: 60px;
    text-align: center;

}
.icon:hover {
background: #999;
color: white;
}
.star-product .slide-show .icon1{
 
      top: 200px;
      left: 240px;
}
.star-product .slide-show .icon2{
    top: 200px;
    right: 0px;
}
.crumbs-nav{
    width: 240px;
    height: 100%;
    background: rgba(0,0,0,.4);
    position: absolute;
    top: 0;

}
.crumbs-nav .crumbs-hand{
    width: 240px;
    height: 100%;
    padding: 20px 0 0 0;
}
.crumbs-nav li{
    margin: 1px 0px 0px 0px ;
    height: 40px;
    line-height: 40px;
    width: 200px;
    padding: 0px 0 0 40px;
    
}
.crumbs-line:hover {
    background: orange;
}
.crumbs-nav li a{
    color: rgba(0,0,0,.9);
 
}
.crumbs-nav li a .icon-jiantouyou{
    position: absolute;
    right: 10px;
    color: rgba(0,0,0,.3);
}
.home-hero{
 position: relative;
    
}
.heng::after {
    content: '';
    position: absolute;
    left:5px;
    bottom:80px;
    height: 1px;
    width: 230px;
    background-color: #444;
}
.shu::before {
    content: '';
    position: absolute;
    right:158px;
    top:5px;
    height: 160px;
    width: 1px;
    background-color: #444;
}
.shu2::before {
    content: '';
    position: absolute;
    right:74px;
    top:5px;
    height: 160px;
    width: 1px;
    background-color: #444;
}
.home-span{
    width: 240px;
    height: 170px;
    background: #333;
    position: relative;
    
}
.home-left-box .six-icon{
    width: 70px;
    height: 64px;
    float: left;
    text-align: center;
    margin: 20px 0 0 8px   ;
}
.home-left-box .six-icon i{
    font-size: 12px;
}
.dot::after{
    content: '';
    height: 20px;
    width: 20px;
    background: #333;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 72px;
}   
.dot::before{
    content: '';
    height: 20px;
    width: 20px;
    background:#333;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 156px;
}
.iconfont:hover {
   color: white;
}
.list-boxs{
    width: 990px;
    position: absolute;
    top: 0;
    right: 0;
}
.imgs-list{
    width: 100%;
    height: 170px;
}
.imgs-list :first-child{
    margin-left: 0;
}
.imgsiphone{
    width: 310px;
    height: 170px;
    float: left;
    margin-left: 30px;
}
.imgsiphone img{
    width: 100%;
    height: 100%;  
}
.imgsiphone:hover{
    box-shadow: 0 0 6px 6px #999;
}
.aequilate{
    margin-top: 20px;
}
.aequilate img{
    width: 100%;
    height: 100px;
}
.aequilate :hover {
    box-shadow: 0 0 6px 6px #999;
}
.home-mian{
    width: 100%;
    background:rgba(100,100,100,0.2);
    margin-top: 20px;
    height: 780px;
}
.title{
    width: 100%;
    height: 100px;
    line-height:100px;
}
.right-dateil{
 position: absolute;
 top: 0px;
 right: 10px;
}
.right-dateil:hover a{
    background: rgba(0,0,0,.3);
    color: white;
}
.big-pic-mi9{
    width: 234px;
    height: 614px;
}
.big-pic-mi9 img{
    width: 100%;
    height: 100%;
    margin: 10px 0px 0 0px;

}
.big-sale{
    width: 992px;
    height: 628px;
    position: absolute;
    top: 100px;
    left: 234px;

}
.mi9-iphone-list li{
 float: left;
 background: white;
 margin: 10px 0  0 14px;
 width: 214px;
 height: 280px;
 padding: 10px;
  text-align: center;
  position: relative;
}

.mi9-iphone-list img{
    width: 160px;
    height: 160px;
}
.mi-9{
    margin-top: 20px;
}
.after-list{
    height: 100px;
    border-bottom: 1px solid gray;
    text-align: center;
}
.after-list .f_l{
    width: 250px;
    border-right: 1px solid gray;
    height: 20px;
       margin-top: 40px;
}
.after-list .f_l:hover a{
     color: orange;
}
.after-list .f_l:hover i{
    color: orange;
}
.after-list .none-border{
    border: none;
}

 .footer{
    margin: 40px 0 20px 40px;
    width: 130px;  
    display: inline-block; 
}
.footer .form-title a{
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
    display: inline-block; 
}
.footer dd{
    margin:5px;
}
.footer-mian:hover a{
    color: orange;
}
.right-footer{
    width: 224px;
    height: 126px;
    float: right;
    text-align: center;
    margin-top: 44px;
    border-left: 1px solid gray;
}
.service-iphone{
    color: orange;
    font-size: 18px;
    margin-bottom: 10px;
}
.right-footer .tiem{
    font-size: 12px;
    margin-bottom: 10px;
    list-style: none;
}
.right-footer .link-iphone{
    display: inline-block;
    border: 1px solid orange;
    height: 30px;
    width: 100px;
    line-height: 30px;
    border-radius: 20px;
}
.right-footer:hover .link-iphone {
    color: white;
    background: #999;
}
.right-fixd{
    position: fixed;
    display: inline-block;
    right: 0px;
    top: 200px;
    text-align: center;

}
.right-fixd .right-fixd-list {
    width: 28px;
    height: 39px;
    border: 1px solid gray;
    background: white;


}
.right-fixd .right-fixd-list i{
    background: none;
}
.right-fixd-list:hover {
    background: orange;
    color: white;
}
.right-fixd .fixd-right-box{
    width: 100px;
    height: 140px;
    right: 40px;
    position: fixed;
    background: white;
    display: none;
    top:200px;
    

}
.fixd-right-box img{
    width: 80px;
    height: 80px;

}
 .right-fixd-list:hover .fixd-right-box {
    display: block;
    cursor: pointer;
}
.fixd-right-box .config{
    margin-left: 10px;
}
.right-fixd-list p{
    height: 30px ;
    background: white;
    line-height: 30px;
    right: 40px;
    width: 80px;
    display: none;

}
.right-fixd-list .p1{
    position: fixed;
    top: 250px;
}
.p2{
    position: fixed;
    top: 290px;
}
.p3{
    position: fixed;
    top: 330px;
}
.p4{
    position: fixed;
    top: 370px;
}
.right-fixd-list:hover .p{
    display: block;
    border: 1px solid gray;
}
.footer-logo-box img{
    width: 50px;
    height: 50px;
}
.footer-link{
    font-size: 12px;
    color: #666;
}
.copyright{
    margin-top: 40px;

}
.mi-commodipy{
  margin-left: 60px;
    position: absolute;
    top: 0px;
}
.footer-link:hover {
    color: orange;
}
.footer-bg-color{
    background: #ddd;
}
.footer-site{
    margin:-30px 0 0  62px;
}
.About-millet .site{
   color: #888;
float: left;
   top: 0px;
}
.site:hover{
    color: orange;
}
.pcp {
  height: 120px;
  padding:5px 0 0 60px;
}
.pcp img{
    width: 80px;
    height: 28px;
    margin-right: 20px;
    display:block;
}
.pcp a{
    float: left;
 
}
.mi-bt{
    font-size: 20px;
    color: #999;
    text-align: center;
    margin-top: 50px;
    font-family: "微软雅黑","宋体",sans-serif;
}