
@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
ul li ,ol li {
    list-style: none;
}
a{
    text-decoration: none;
    color: #999;
}
img{
    vertical-align: top;
}
input button {
    border: none;
    outline: 0;
}
.clearFix::after,.clearFix::after::before{
    content: '';
    line-height: 0;
    display: block;
    clear: both;
    font-size: 0;
}
.f_l{
    float: left;
}
.f_r{
    float: right;
}
body{
    font: normal 100 14px/1.5 "微软雅黑","宋体",sans-serif;
}
.m_r10{
    margin-right: 10px;
}
