<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .inp {
            width: 230px;
        }

        .red {
            background: red
        }

        .yellow {
            background: yellow
        }

        .green {
            background: green;
            color: white;
        }
    </style>
</head>

<body>
    <div id="app">
        <h2 v-if='past!=dataList.length'>今天的任务还有<span :class="past==0?'red':'yellow'">{{dataList.length-past}}</span>个</h2>
        <h2 v-else='past=dataList.length' class="green">今天的任务完成了</h2>
        <input @keydown.enter='add ' class="inp" type="text" placeholder="请输入今天的任务，按下enter">
        <table>
            <tr>
                <th>序号</th>
                <th>任务</th>
                <th>文成情况</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <tr v-for='item,index in newArr'>
                <td>{{index+1}}</td>
                <td>{{item.eat}}</td>
                <td>{{item.isFalse}}</td>
                <td><input v-model="item.isFalse" type="checkbox"></td>
                <td><a @click.prevent='del(item )' href="http://www.baidu.com">删除</a></td>
            </tr>

        </table>
        <input v-model='isTrue' type="checkbox">显示所有任务<br>
        <p>已完成{{past}}个/总数{{dataList.length}}个</p>
    </div>
</body>
<script src="./js/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            dataList: [
                { eat: '吃饭', isFalse: false },
                { eat: '睡觉', isFalse: false },
                { eat: '打豆豆', isFalse: false },
            ],
            isTrue: false
        },
        methods: {
            add: function (event) {
                var val = event.target.value
                if (val == '') {
                    alert('请输入有效内容')
                } else {
                    var obj = { eat: val, isFalse: false }
                    this.dataList.push(obj)
                }
                event.target.value = ''
            },
            del: function (item) {
                var index = this.dataList.indexOf(item)
                this.dataList.splice(index, 1)
            },
        },
        computed: {
            newArr: function () {
                var arr = []
                for (var i = 0; i < this.dataList.length; i++) {
                    if (!this.dataList[i].isFalse || this.isTrue) {
                        arr.push(this.dataList[i])
                    }
                }
                return arr
            },
            past: function () {
                var arr = []
                for (var i = 0; i < this.dataList.length; i++) {
                    if (this.dataList[i].isFalse) {
                        arr.push(this.dataList[i])
                    }
                }
                return arr.length
            }
        }
    })

</script>

</html>