

body,html{
    font-size:0.14rem;
}
.classify-page{
    height: 16.2rem !important;
}
.classify-page .classify-search{
   height: 1.38rem;
   background: #ff9900;
    position: fixed;
    width: 7.5rem;
    z-index: 999;
}
.crumbs-tab{
    width: 100%;
    height: auto;
}
.classify-page  .crumbs-nav{
    width: 2.34rem;
    height: auto;
    position:fixed;
    left: 0;
    bottom: 0;
    top: 1.38rem;
     
  
}
.classify-page  .classify-commodity{
    width: calc(100% -  2.34rem);
    height: auto;
    margin-bottom: 1rem;
}
.crumbs-nav li{
    height: 0.64rem;
    width:  0.94rem;
    line-height: 0.64rem;
    font-size: 0.18rem;
   text-align: center;
   width: 2.34rem;
   font-weight: 100;
   color: #333333;
}

 .active{
    color: #ff9900 !important;
    background-color: white;
     border-left: 0.1rem solid #1d84a7;

}
.classify-commodity{
    position: absolute;
    right: 0;
    top: 1.38rem;
}
.classify-commodity .classify-commodity-ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    justify-content: flex-start;
    padding: 0 0.2rem;
}
.classify-commodity-ul li:first-of-type{
   margin-right: 0.16rem;
}
.classify-commodity li{
    height: 2.4rem;
    width: 2.3rem;
    padding: 0.1rem 0.26rem 0;
    text-align: center;
    border: 1px solid #1d84a7;
    border-radius: 0.06rem;
    margin-top: 0.22rem;
    position: relative;
}
.classify-commodity li p{
    width: 2.29rem;
    height:  0.48rem;
    background: #1d84a7;
    color: #fff;
    text-align: center;
    line-height:  0.48rem;
    border-radius: 0.06rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
      position: absolute;
      bottom: 0rem;
      left: 0rem;
}
.classify-commodity li img{
     width: 1.7rem;
     height: 1.7rem;

}