
body,html{
    background: #efeeee;
}

.personal-center .personal-top{
    height: 3.7rem;
    width: 7.5rem;
    text-align: center;
    position: relative;
    background-color: #ff9900;
    padding-top: 0.6rem;
    color: white;
} 


body,html{
    font-size: 0.16rem;
}
.personal-top .msg-bubble{
       background-color: red;
  
       border-radius: 50%;
       position: absolute;
       right: 0.32rem;
       top: 0.5rem;
      

   }
 
   .personal-top .set-btn{
        position: absolute;
        left: 0.3rem;
   }
   .personal-top  .msg-btn{
    position: absolute;
    right: 0.47rem; 
    top: 0.6rem;
   }
@media(min-width:768px){
    .msg-bubble{
        font-size: 0.12rem;
        position: absolute;
        right: 0.38rem !important;
        top: 0.54rem !important;
    }
    .msg-icon,.set-icon{
        width: 0.2rem;
    }
}
.head-portrait-box{
    width: 2.1rem;
     height: 2.1rem;
    border: 0.16rem solid white;
    border-radius: 50%;
    position: absolute;
    background: #e6dfdf;
     left: 0;
     right: 0;
      margin: auto;
    margin-top: 1.6rem 
}
.head-portrait-box .head-portrait-img{
      width:1.82rem;
      height: 1.82rem;
      border-radius: 50%;
}
 .userinfo{
    height: 2.62rem;
    width: 7.5rem;
    text-align: center;
    position: relative;
    line-height: 2.62rem;
    color: #333333;
    margin-bottom: 0.14rem;
}
.userinfo .collect{
   position: absolute;
   bottom: 0;
   left: 0.34rem;
   height: 2.62rem;
   line-height: 4rem;
   
}
.order-form{
    height: 1.24rem;
     background: #fafafa;
     line-height: 1.24rem;
     border-bottom: 1px solid  #b3b3b3;
}
.order-form .my-order{
    color: #333333;
    float: left;
   margin-left: 0.46rem;
}
.order-form .all-order{
    color: #999999;
    float: right;
    margin-right: 0.1rem;
}
.personal-center .logistics{
   height: 1.88rem;
  background-color: #fafafa;
  margin-bottom: 0.14rem;
}
.personal-center .logistics-ul{
    display: flex;
    justify-content: space-around;
    height: 1.88rem;
    
    
}

.logistics-ul a{
    display: inline-block;
    height: 1rem;
    text-align: center;
    margin-top: 0.46rem;
    
}
.logistics-ul li{
 position: relative;
}
.logistics-ul a img{
     margin-bottom: 0.28rem;
   
}
.logistics-ul .msg-icons{
    top: 0.26rem;
    right: 0rem;
}
@media(max-width:414px){
    .logistics-ul .msg-icons{
        top: 0.3rem !important;
        right: 0rem !important;
        display: inline-block;
           width: 0.3rem !important;
       
        font-size: 0.12rem !important;
    }
}
@media(max-width:768px){
    .logistics-ul .msg-icons{
        top: 0.38rem;
        right: 0rem;
        display: inline-block;
           width: 0.2rem;
       
        font-size: 0.12rem;
    }
}
@media(min-width:768px){
    .logistics-ul a img{
        width: 0.58rem;
    }
    .logistics-ul .msg-icons{
        top: 0.4rem;
        right: -0.06rem;
        display: inline-block;
           width: 0.16rem;
       
        font-size: 0.12rem;
        
    }

}

   .take-site{
       height: 1.3rem;
       background: #fafafa;
       padding-left: 0.46rem;
       color: #999999;
       line-height: 1.3rem;
   }
  