/* @media(min-width:1024px){
   
}*/

/* @media(min-width:768px){
    html,body{
        font-size: 59%;
    }
}
@media(min-width:768px){
    html,body{
        font-size: 57%;
    }
} */
#app{
    width: 7.5rem;
    height: auto;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
     color: #999;
}
ul,li,ol,li{
    list-style: none;
}
input,button{
    outline: none;
    border: none;
}
img{
    border: none;
  
}
html{
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  
}
h1,h2{
    font-size: 0.26rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.7rem;
}
body,html{
    background-color: #fafafa;
}
i{
    font-style:normal;
}
.msg-icons{
  background: red;
  border-radius: 50%;
  position: absolute;
  color: white;
  width: 0.3rem;
}

.mian-search{
    width: 5.16rem;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 6px;
    position: fixed;
    top: 0.64rem;
    height: 0.6rem;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;

}
.mian-search #top-search-form{
    width: 5.16rem;
    height: 0.6rem;

}
.mian-search img{
    width: 0.4rem !important;
    height: 0.4rem;
    position: absolute;
    top:0.1rem;
    right: 0.3rem

}
.mian-search .mian-search-inp{
    background: none;
    position: absolute;
   left: 0.3rem;
    height: 0.6rem;
    font-size: 0.25rem;
       
}


.subject-color{
    color: #ff9900;
}
.current{
    background: #ff9900 !important;
    color: #fff !important;
    }
    em{
        font-style: normal;
    }
     .clearFloat::before, .clearFloat::after{
          content: '';
          height: 0;
          display: block;
         
    }
    .clearFloat::before{
        content: '';
        display: block;
          height: 0;
          clear: both;
    }
    .current-bor{
        border: 1px solid #ddd;
        border-left : none;
        border-right :none;
    }
    .bor-botm{
        border-bottom: 1px solid #ddd;
    }