

.register-page .send-msg{
    float: right;
    margin-right: 0.2rem;
    color: #fe0041;
} 
.register-page  input{
    width: 2.6rem;
}
.register-page  .next-step{
    margin-bottom: 0.5rem;
}
.register-page input:last-of-type {
    width: 0.15rem;
    height: 0.15rem;
    margin-right: 0.2rem;
    vertical-align: middle;
    
}