  
  
body,html{
    font-size: 0.14rem;;
}
  
  .shopping-page .shopping-top{
    width:7.5rem;
    height: 60px;
    line-height:60px;
    position: relative;
    text-align: center;
    background-color: #ff9900;
    color: white;
}
.shopping-top  .return-icon{
    position: absolute;
    left: 0.34rem;
   
}
.shopping-top .shopping-car{
   font-size:14px;
   position: absolute;
   
}
 .selected-shopping{
     height: 9.78rem; 
     overflow-y: auto;
 }
 .selected-shopping .selected-ul{
     overflow-y: auto;
     margin-bottom: 2.14rem;
 }
 .selected-shopping  li{
  height: 3.3rem;
     background-color: #fafafa;
     overflow: hidden;
 }
.selected-shopping  .shopping-warehouse{
    height: 1.2rem;
    width: 7.5rem;
   line-height: 1.2rem;
    padding-left: 0.38rem;
   font-size: 0px;

} 
.shopping-warehouse img{
    vertical-align: middle;
    margin-right: 0.12rem;
}
.shopping-warehouse span{
    color: #afafaf;
    font-size: 0.14rem;
    vertical-align: middle;
}
@media(min-width:768px){
    .shopping-warehouse span{
        color: #afafaf;
        font-size: 0.14rem;
      vertical-align: middle;
    }
    .shopping-warehouse  img{
        width: 0.2rem;
        vertical-align: middle;
        
    }
}
.selected-shopping  .add-del{
    height: 2.1rem;
     position: relative;

}  
.add-del  .check{
    height: 1.6rem;
    line-height: 1.6rem;
    padding-left: 0.38rem;
    margin-right: 0.2rem;
    float: left;

}
 .checkbtn,.editor-item{
    display: inline-block;
     width: 0.22rem;
     height:0.22rem;
    -webkit-appearance:none;
     border: #ff9900 1px solid ;
     border-radius: 50%;
     
}
.editor-item{
    border: #999 1px solid ;
}
.isTrue{
    
     background:url('../img/radio_hig.png') no-repeat;
     background-size:100% 100%;
}

.selected-shopping  .com-detail{
    height: 1.6rem;
      width: 6rem;
      float: left;
   
}
 .com-detail  .com-pic {
    height: 1.6rem; 
    width: 1.6rem;
    float: left;
    margin-right: 0.2rem;
 }
.com-pic img{
    height: 1.6rem; 
    vertical-align: top;
}
     .add-sub-box {
         width: 2.7rem;
          float: left;
         height: 1.6rem;
           overflow: hidden;
           white-space: nowrap;
           text-overflow: ellipsis;
         position: relative;
     }
 .add-sub-box span:first-of-type{
    color: #333333;
    font-size: 0.14rem;
}
.add-sub-box span:last-of-type{
    color: #a1a1a1;
    font-size: 0.12rem;
    vertical-align: top;
}
.add-sub-box  .add-sub-num{
    width: 2.36rem;
    height:0.48rem;
   border: 1px solid #cccccc;
   border-radius: 0.06rem;
   position: absolute;
   bottom: 0rem;
   font-size:0rem;
}
.add-sub-num  .sub-btn,.num-inp,.add-btn{
       display: inline-block;
       text-align: center;
         width:33.33333333%;
         font-size: 0.12rem;
       height:0.46rem;
       background: inherit;
       line-height: 0.46rem;
       color: #666;
     
}
.add-sub-num  .sub-btn{
    border-right:1px solid #cccccc;
}
.add-sub-num  .add-btn{
    border-left:1px solid #cccccc;
}
.selected-shopping  .com-price{
     
      height: 1.6rem;;
        line-height:1.6rem;
       float: left;
      font-size: 14px;
      overflow-x: auto;
     
  }
  .selected-shopping .del-box{
    height: 2.1rem;
     width: 1rem;
     float: right;

  }
  .del-box .del-com{
         height: 2.1rem;
         background: #ff9900;
         width: 1rem;
         line-height:2.1rem;
         color: #fff;
         text-align: center;
         float: right;
        
    }
    .block{
        display: block !important;
    }
    .none{
        display: none;
    }

      .shopping-page  .settle-pri{
        
          width: 7.5rem;
          background-color: #ffffff;
          text-align: center;
          position: fixed;
          bottom: 80px;
      }
      .settle-pri .settle-ul{
          padding-left: 0.4rem;
          
          position: relative;
          overflow: hidden;
      }
      .settle-ul li{
          float: left;
      }
      .settle-ul li img{
           width: 0.26rem;
    }
      .settle-ul li:first-of-type{
          color: #666;
      }
      .settle-ul li:nth-of-type(2){
          margin-left: 0.72rem;
          color: #666;
      }
      .settle-ul li:nth-of-type(3){
          width: 2.3rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-left: 0.5rem;
        color: #999;
    }
    
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
.editor{
    background: url('../img/editor_hig.png');
    background-size:100% 100%;
}

    .settle-ul li:last-of-type{
        width: 2.32rem;
       
      height: 100%;
      line-height:300%;
      
        margin-left: 0.6rem;
       position: absolute;
       right: 0rem;
        background: #ff5500;
          color: #fff;
          text-align: center;
         
          
          
    }
 