
.detailPage{
    width: 100%;;
   margin-top: 100px;
 
}
.mian-detail{
    width: 620px;
    height: 100px;
    position: relative;
  
 
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.mian-active{
    width: 100%;
}
.author-release{
    display: inline-block;
 
}
.author-Name{
 font-size: 16px;
 font-weight: 100;
 margin-right: 6px;
}
.Focus-on{
    background: #42c02e;
    font-size: 12px;
    color: #fff;
    padding: 1px 9px;
    border-radius: 40px;
}

.author{
    margin: 30px 0 40px;
}

.author img{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    vertical-align: top;
    margin-right: 6px;

}
.author-release img{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
.fans-Num span{
    font-size: 12px;
    color: #969696;
    margin-left: 4px;
}
.live{
    font-size: 12px !important;
    color: #969696;
}
.img-view{

    text-align: center;
    margin-bottom: 100px;
}
.img-view img{
    max-width: 100%;
   
}
.img-view p{
    margin: 25px 0;
    line-height: 1.5;
    color: #2f2f2f;
    text-align: start;
    
}
.img-from{
    width: 160px;
    padding: 12px;
    border-bottom: 1px solid #d9d9d9;
    color: #969696;
    margin: 0 auto;
}
.free-reward-panel{
    padding: 20px 0;
    text-align: center;
    height: 240px;
}
.free-reward-panel p{
    padding: 0 30px;
    margin-bottom: 20px;
    color: #969696;
    font-size: 17px;
    font-weight: 700;
}
.free-reward-panel .reward-btn{
  padding: 8px 25px;
   color: #fff;
   margin-bottom: 20px;
   border-radius: 40px;
   background-color: #ea6f5a;
   outline: none;
   border: none;
}
.show-foot{
    margin-bottom: 30px;
}
.show-foot span ,.show-foot i{
    color: #c8c8c8;
}
.right-notebook{
    float: right;
}
.right-notebook span{
    margin-left: 16px;
}
.author-sex{
    color: deeppink;
}
.FocusOn-Big-btn{
    width: 100px;
    padding: 8px 8px;
    color: #fff;
    font-size: 16px;
     float: right;
     background: #42c02e;
     border-radius: 40px;
     text-align: center;
}
.follow-detail{
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 40px;
}
.author-more{
    margin: 0;
}
.signature{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e1e1e1;
    color: #969696;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
