<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/createPicName" method="post">
    <h1>创建相册</h1>
    <label for="">相册名称：</label><input name="picName" type="text"><br>
    <input type="submit" value="创建"> 
</form>
</body>
</html>