@charset "utf-8";

.code-conv{
	background: url(../img/coupon-bg.jpg);
	height: 468px;
	

}
.code-conv .code-conv-frame{
	width: 552px;
	height: 310px;
	background: #fff;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}
label{
	font-size: 14px;
	font-weight: 100;
	color: #333;
}
.big-small{
	color: #58acf1;
	margin-left: 12px;
}
.code-conv #acti-code{
	padding: 6px;
	width: 197px;
}
.code-conv #veri-code{
	padding: 6px;
	width: 76px;
	margin-top: 16px;
}

 .code-conv .inp-box{
	padding: 33px 0 0 95px;
	
}
 .code-conv .notice{
 	padding: 16px 0 0 95px;
 	position: relative;
 }
 .code-conv .notice li{
 	line-height: 22px;
 	color: #8b8b8b;
 }
 .code-conv  #acti-btn{
 	padding: 6px 26px ;
 	background:#58acf1 ;
 	color: #fff;
 	margin-top: 24px;
 	border: none;
 	outline: none;
 	margin-left: 56px;
 }
  .code-conv .veri-img{
     width: 103px;
     height: 37px;
 display: inline-block;
 position: absolute;
   top: 76px;
 
  }
