@charset "utf-8";
.banner-box {
	overflow: hidden;
	position: relative;
}

.banner-box .banner-ulList {
	width: 9900px;
	height: 100%;
	position: relative;
	left: 0;
}

.banner-box .banner-ulList li {
	width: 100%;
	height: 100%;
	opacity: 1;
}

.banner-box span {
	padding: 16px 6px;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	font-size: 26px;
	color: #666;
	top: 40%;
	z-index: 1;
	cursor: pointer;
}

.banner-box .banner-btn-left {
	left: 0;
}

.banner-box .banner-btn-right {
	right: 0;
}

.min-banner-box {
	width: 100%;
	height: 6rem;
	position: absolute;
	bottom: 3px;
	background: url(../img/vip-tips.png);
	background-position-y: -98px;
	background-position-x: -36px;
}

.banner-box .min-banner {
	height: 6rem;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.banner-box .min-banner li {
	height: 100%;
	width: 100%;
}

.banner-box .min-banner li a {
	opacity: 0.5;
	width: 59.27px;
	height: 44.1px;
	display: inline-block;
	margin-top: 16px;
}

.border {
	border: 1px solid #fff;
}

.vip-privilege {
	overflow: hidden;
	position: relative;
	height: 180px;
}

.vip-privilege .vip_ulList {
	width: 212%;
	float: left;
	position: relative;
	bottom: 10px;
	left: 0;
}

.vip-privilege li {
	height: 9.27rem;
	width: 200px;
	margin-right: 15px;
}

.vip-privilege .on-ad {
	background: url(../img/vip-powers.png);
}

.vip-privilege .for-free {
	background: url(../img/vip-powers.png);
	background-position-x: 200px;
}

.vip-privilege .discount {
	background: url(../img/vip-powers.png);
	background-position-x: 400px;
}

.vip-privilege .rapid {
	background: url(../img/vip-powers.png);
	background-position-x: 600px;
}

.vip-privilege .activity {
	background: url(../img/vip-powers.png);
	background-position-x: 800px;
}

.vip-privilege .identfy {
	background: url(../img/vip-powers.png);
	background-position-x: 1000px;
}

.vip-privilege .customization {
	background: url(../img/vip-powers.png);
	background-position-x: 1200px;
}

.vip-privilege .high-quality {
	background: url(../img/vip-powers.png);
	background-position-x: 1400px;
}

.vip-privilege .more-token {
	background: url(../img/vip-powers.png);
	background-position-x: 1600px;
}

.vip-privilege .custom-service {
	background: url(../img/vip-powers.png);
	background-position-x: 1800px;
}

.vip-privilege span {
	font-size: 2.6rem;
	color: #666;
	font-weight: 700;
	line-height: 2.6rem;
	height: 2.6rem;
	margin-top: 8rem;
	cursor: pointer;
	position: absolute;
	z-index: 99;
}

.vip-privilege .arrow-left {
	left: 0;
	top: 0;
}

.vip-privilege .arrow-right {
	right: 0;
	top: 0;
	z-index: 99;
}

.hot-bro-box {
	float: left;
	width: 100%;
}

.hot-bro-box .hot-font {
	float: left;
	left: 0;
	margin-bottom: 6px;
}

.hot-bro-box .hot-more {
	float: right;
	right: 0;
	color: #333;
}
/*.hot-bro-container{
padding-top: 24px;
}*/
.hot-bro-container .hot-ulList {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

  .hot-bro-container  .hot-lis {
	position: relative;
     width: 205px;
	height: 337px;
  margin-right: 15px;
	float: left;
	
}
  .hot-bro-container .hot-li1 {
	position: relative;
     width: 205px;
	height: 337px;
  margin-right: 12px;
	float: left;
	margin-bottom: 30px;
	
}
  .hot-bro-container ul :nth-of-type(5n){
   margin-right: 0px;
  }
.hot-bro-container img{
	width: 100%;
	height: 283px;
}
 .high-def {
	padding: 2px;
	background: rgba(0,0,0,0.26);
	color: #fff;
	position: absolute;
	bottom: 76px;
	right: 12px;
	font-weight: 100;
}
.vip-films {
	padding: 6px;
	position: relative;
}

.grade-box {
	right: 6px;
	top: 6px;
	padding: 6px;
	position: absolute;
}

.describe  {
	font-size: 12px;
	color: #999;
}

.vod-title {
	margin-bottom: 2px;
	font-size: 14px;
}

.grade {
	color: orangered;
	font-size: 14px;
}
.recom-container .recom-li {
	position: relative;
	width: 205px;
	height: 337px;
	float: left;
	margin-right: 16px;
}
.recom-container .recom-ulList {
	width: 100%;
	height: 100%;
	
}
.recom-box .recom-more {
	float: right;
	right: 0;
	color: #333;
}
.recom-box .recom-font {
	float: left;
	left: 0;
	margin-bottom: 6px;
}
.consult-container .contsult-box{
	width: 100%;
	height: 100%;
	padding: 46px 0;
	border-top: 1px solid #dedede;
	border-bottom:1px solid #fff;
}
.consult-container .consult-ulList{
	width: 100%;
	height: 100%;
}
.consult-container li{
	display: flex;
	flex: 1;
    border-right: 1px solid #dedede;
    padding-right: 12px;
    padding-left: 26px;
}
.consult-container li .bac-img-box{
	width: 51px;
	height: 51px;
	margin-left: 26px;
	
	
}
.consult-container li h2{
	font-size: 16px;
	margin-bottom: 12px;
	display: inline-block;
	color: #333;
	font-weight: 700;
}
.consult-container li a{
	color: #333;
	 word-break: break-all ;

}
.consult-container li .right-help{
	
   margin-left: 6px;
}
.consult-ulList :last-child{
	border-right: none !important;
}
.bac1{
	background: url(../img/vip-powers.png)0px -112px no-repeat;
}
.bac2{
	background: url(../img/vip-powers.png)-51px -112px no-repeat;
}
.bac3{
	background: url(../img/vip-powers.png)-102px -112px no-repeat;
}
.bac4{
	background: url(../img/vip-powers.png)-153px -112px no-repeat;
}
.footer-module{
	text-align: center;
	padding: 66px 0;
	line-height: 24px;
}
.footer-module p{
	color: #999
}
.footer-module a{
	color: #999;
}
.company-copy:hover a{
	text-decoration: underline;
}
.company-copy1:hover a{
	text-decoration: underline;
}
.company-copy2:hover a{
	text-decoration: underline;
}
.company-copy3:hover a{
	text-decoration: underline;
}
.Public-sec:hover a{
	text-decoration: underline;
}
.Public-sec1:hover a{
	text-decoration: underline;
}
