@charset "utf-8";
.top-navBar{
	width:100%;
height: 3rem;
line-height: 3rem;
	background-color: rgba(0,0,0,0.9);
	display: flex;
	font-size: 14px;
	padding-left: 64px;
}
.type-area{
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
  .p-t-4{
  	padding-top: 4px;
  }
  .m-t-36{
  	margin-top: 26px;
  }
  .p-t-26{
  	padding-top: 26px;
  }
a{
	text-decoration: none;
	color: #333;
}
.font-color1{
	color: #fff !important;
}
ul li {
	list-style: none;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.m-b-20{

	margin-bottom: 20px;
}
.p-l-13{
	padding-left: 13px;
}
html{
	 background: #f1f0f6;
}
img{
	border: none;
	max-width: 100%;
}
.font-color{
	font-size: 12px;
	color: #333 !important;
	
}
@media only screen and (min-width:1024px ) {
	  html{
	  	font-size: 62.5%!important;
	  }
}
@media only screen and (max-width:640px ) {
	  html{
	  	font-size: 57%;
	  }
}
@media only screen and (min-width:641px ) {
	 html{
	 	font-size: 59%;
	 }
}
input ,button,{
	border: 1px solid #333;
	outline: none;
}
html {
  font-size: 62.5% !important;
 
  height: 100%; }
h1,h2,h3{
	margin-bottom: 24px;
font-weight: 100;
	font-size: 24px;
}
p{
	word-wrap:break-word ;
	word-break: normal;
}
.m-t-12{
	margin-top: 12px;
}
.m-t-6{
	margin-top: 6px;
}
.m-l-12{
	margin-left: 12px;
}
.m-l-6{
	margin-left: 6px;
}
.m-b-12{
	margin-bottom: 12px;
}
.m-b-6{
	margin-bottom: 6px;
}
.m-r-24{
	margin-right: 24px;
}

.m-r-12{
	margin-right: 12px;
}
.m-r-6{
	margin-right: 6px;
}
.m-24{
	margin: 24px;
}
.m-12{
	margin: 12px;
}
.m-6{
	margin: 6px;
}
.m-t-12{
	margin-top: 12px;
}
.m-t-6{
	margin-top: 6px;
}
.p-l-12{
	margin-left: 12px;
}
.p-l-6{
	margin-left: 6px;
}
.p-b-12{
	margin-bottom: 12px;
}
.p-b-6{
	margin-bottom: 6px;
}
.p-r-12{
	margin-right: 12px;
}
.p-r-6{
	margin-right: 6px;
}
.p-24{
	padding: 24px;
}
.p-12{
	padding: 12px;
}
.p-6{
	padding: 6px;
}
.l-24{
	left: 24px;
}
.l-12{
	left: 12px;
}
.l-48{
	left: 48px;
}
.d-f{
	display: flex;

	
}
.p-l-24{
	padding-left: 24px;
}
.home-nav{
	padding: 6px 12px;
	background: #efefef;
	border-bottom: 1px solid #999;
	height: 4rem;
	
	
}
.b-c-b{
	background: blue;
}
.home-nav ul li{
  line-height: 300%;
  height: 100%;
  text-align: center;
}
.home-nav ul{
	height: 100%;
}
.home-nav li a{
	color: #444;
	
}
.m-b-36{
	margin-bottom: 36px;
}
.home-nav .logo-li{
	flex: 7;
	height: 30px;
    background: url(../img/vip-logo.png)  no-repeat;
    background-position-x: 0;
    background-position-y: -144px;
  
}
.top-navBar .banner-nav-ul li{
	width: 8rem;
	text-align: center;
}
.m-l-36{
	margin-left: 36px;
}
 
.icon-box::after{
	content: attr(data-b);
	padding: 0 4px;
	display: block;
	text-align: center;
	position: absolute;
	top: 12px;
	left: 12px;
	background: orange;
	font-size: 12px;
	z-index: 999;
	color: #fff;
	border-radius: 2px;
}

.clearFloat:after,.clearFloat:before{
	content: '';
	font-size: 0;
	height: 0;
	clear: both;

}
