@charset "utf-8";
.type-area1{
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background: #fff  ;
	padding: 0 13px;
}
.vod-vip-nav .vod-vip-ul{
	padding: 20px 12px 30px;
}   
.vod-vip-nav li{
	padding: 6px 12px;
}
.vod-vip-nav .bac-coclor{
	background: #0b68c8;

	display: block;
}
.vod-vip-nav a{
	color: #333;
}
.d-block{
	display: block !important;
}
.vod-vip-tab .vod-tab-ul{
	
		background: #f8f8f8;
		border:1px solid #dedede;

}
.vod-vip-tab  li{
	
	color: #0b68c8;

}
.vod-vip-tab .vod-tab-li{
	color: #000;
	border-top:4px solid #0b68c8;
	
	  border-right: 1px solid #dedede;
	  background: #FFF;

}
.vod-vip-tab a{
	padding: 12px 36px;
	display: inline-block;
}


.vod-vip-tab {
	margin-bottom: 30px;
}
.hot-bro-container,.hot-ulList {
	display: none;
}
